body {
  font-family: Calibri, sans-serif;
  background: #fdebdb;
}

.carousel-image {
  height: 500px; /* Adjust the height as needed */
  object-fit: cover; /* Ensures the image covers the entire container */
}

.des-h2{
  color: red;
  text-align: center;
  margin-top: 80px;
}

.des-p{
  background-color: rgb(233, 229, 229);
  padding: 10px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

